.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

p {
  text-align: center;
}

form {
  margin: auto;
}

.example-button-row {
  text-align: right;
}


