<p>Company Edit Page</p>
<form class="example-form" [formGroup]="updateFormCompany" (ngSubmit)="updateCompany()">
  <mat-form-field class="example-full-width">
    <mat-label >ID</mat-label>
    <input matInput type="text" formControlName="id" readonly>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <input matInput type="text" id="address" name="address" formControlName="address">
  </mat-form-field>
  <section>
    <div class="example-button-row">  
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </section>
</form>